<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-indigo-900 justify-items-center">
    <div class="bg-white w-1/2 rounded-2xl m-12 mx-auto">
        <div class="flex flex-row">
            <img class=" rounded-l-2xl w-1/2" src="static/image/login.jpg">
            <div class="flex flex-col m-12">
                <h1 class="text-6xl font-medium text-blue-900 px-8">SIGNUP</h1>
                <form method="POST" action="{{url_for('signins')}}" class="flex flex-col mt-20 ">
                    <div class=" border-b-2 border-blue-500 py-1 mx-2">
                      <input class=" text-center appearance-none bg-transparent border-none focus:outline-none focus:text-left" type="text" name="name" placeholder="Enter a Name">
                    </div>
                    <div class=" border-b-2 border-blue-500 mt-8 py-1 mx-1">
                      <input class="text-center appearance-none bg-transparent border-none focus:outline-none focus:text-left" type="text" name="email" placeholder="Enter a Email" aria-label="Full name">
                    </div>
                    <div class=" border-b-2 border-blue-500 mt-8 py-1 mx-1">
                      <input class="text-center appearance-none bg-transparent border-none focus:outline-none focus:text-left" type="password" name="password" placeholder="Enter a Password" aria-label="Full name">
                    </div>
                    <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl mx-2 my-12" type="submit" value="Sign Up" onclick="myFunction()">
                  </form>
                  <p class="text-blue-800 text-xl font-bold mx-28">OR</p>
                  <h3 class="mx-4 my-6 text-md text-gray-400">Already have an Account, <a href="url_for('login')" class=" text-blue-700 font-bold">Login</a></h3>
            </div>
        </div>
    </div>
    <script>
      function myFunction() {
           alert('Created Successfull');
      }
  </script>
</body>
</html>